@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    
    color: white;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.activo { 
    color: #926400;
} 
.inicio{
    height: 100vh;
    display: flex;
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 10%;
}
.inicio-contenido {
    max-width: 700px;
    line-height: 1.2;
}
.inicio-contenido h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.inicio h2{
    font-size: 32px ;
    font-weight: 700;
    color: #f0b000;
}
.inicio-contenido p{
    font-size: 16px;
    margin: 20px 0 40px;
    color:   white;

}
.inicio-contenido .btn-box{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 60px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #f0b000;
    border: 2px solid #ffd900;
    border-radius: 8px;
    font-size: 19px;
    color: #4b3900;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #f0b000;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #fae902;
}
.btn-box a:nth-child(2):hover{
    color: #4b3900;

}
 
.btn-box a:nth-child(2)::before{ 
    background: #f0b000;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b3900;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width: 100%;

}
.planetas{
    padding: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 10% ;
   
    background-color: rgba(0, 0, 0, 0.9);
}
.planetas h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #f0b000;
    text-align: center;
    padding: 20px 0px 20px 0px ;
}
.slide{
    height: 500px;
    object-fit: cover;

}
.slide img{
    height: 500px;
    width: 500px;    
    object-fit: cover;
    filter: brightness(0.6);


}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%}
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .inicio{
        padding: 0 4%;
    }
    .fonter{
        padding: 2rem 4%;

    }



    

    .formulario{
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4b3900;
    }
    form{
        padding: 50px 55px;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 340px;
        background-color:#966e00;
    }
    form h2{
        color: #f0b000;
        font-size: 25px;
    }
    .form_text{
        display: flex;
        justify-content: space-between;
    }
    .form_text a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 25px;
    }
    .form_text a:hover{
        color: #f0b000;
    }
    .input-grup {
        display: flex;
        flex-direction: column;
    }
    input , textarea {
        background-color: #7c5b00;
        padding: 20px 14px;
        margin-bottom: 25px;
        border: 0;
        border-radius: 10px;
        font-size: 15px;
        color: #FFFFFF;
    }
    ::placeholder {
        color: #f0b000;
        font-size: 15px;
    
    }
    :focus{
        outline: 1px solid #fffb03;
    
    }
    .btn {
        background-color: #614a00;
        color: #e5ff00;
        font-size: 17px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #4b3900;
    }
    @media(max-width:991px){
        .formulario{
            padding: 30px;
        }
        form {
            width: 100%;
        }
    } 
    .footer{
        background-color:rgba(0, 0, 0, 0.9)
    }
    .footer .share{
        padding-top: 2rem;
        text-align: center;
        
    }
    
    .footer .share a{
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        color: #fdfdfd;
        border: .1rem solid #fdfdfd;;
        margin: .3rem;
        border-radius: 50%;
    }
    
    .footer .share a:hover{
        color: #030303;
        background: #fdfdfd;
        transform: rotate(360deg);
    }
    
    .footer .credit{
        border-top: .1rem solid rgba(255, 255, 255, .2);
        font-size: 2rem;
        margin-top: 2.5rem;
        padding: 1rem;
        padding-top: 2rem;
        text-align: center;
        color: white
    }
    
    .footer .credit span{
        color: #fdfdfd;
    }
    